<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="node_modules/angular/angular.min.js"></script>
</head>
<body >
	<button ng-click="flag=!flag">显示隐藏</button>
	<ul ng-show="flag">
		<li>001</li>
		<li>002</li>
		<li>003</li>
	</ul>
	<hr>
	<button ng-click="flag=!flag">显示隐藏</button>
	<ul ng-hide="flag">
		<li>001</li>
		<li>002</li>
		<li>003</li>
	</ul>
	<script>
	// var app = angular.module('app',[]);
	// app.controller('ctrl',function($scope){
	// 	// $scope.flag=false;
	// 	// $scope.aa=function(){
	// 	// 	$scope.flag=!$scope.flag;
	// 	// }
	// })
	</script>
</body>
</html>